# Data Collection and Cleaning
The main data set that I chose for this project was NBA Season Statistics that was found on [Kaggle](https://www.kaggle.com/drgilermo/nba-players-stats#Seasons_Stats.csv). This data set includes basic stats such as points, field goal percentage, fouls, etc. But it also contains advanced statistics such player efficiency rating, win shares, offensive rebound percentage, etc. I will explain what some of these statistics actually attempt to show in other parts of this project

**Important Note:** This data set is organized by year. But because one season in the NBA spans over two different calendar years, for this data, 2017 corresponds to the 2016-2017 season.

In [0]:
import pandas as pd
import numpy as np
# Data set was found on Kaggle
df_stats = pd.read_csv("/content/drive/My Drive/Seasons_Stats.csv")

## Add an experience column to the DataFrame

In [0]:
"""
Function that adds how many years a player has been in the NBA
Args: 
  -df: type pd.DataFrame
Returns:
  type pd.DataFrame with a new "Experience" column with the number of years a 
  player has been in NBA

NOTE: -Must pass a DataFrame that is sorted by Player and then by Year
      -Must keep track if a player shows up multiple times in the same year 
       (because of trades)
"""
def years_played(df):
  player_year_dict = {}
  name_dict = {}
  for index, row in df.iterrows():
    player = row["Player"]
    year = row["Year"]
    
    # Check if the player has been seen
    if (player not in name_dict):
      name_dict[player] = 1
      df.at[index, "Experience"] = 1
      player_year_dict = {}
      player_year_dict[player] = [year]
     
    # Check if the player has not been on multiple teams
    elif (year not in player_year_dict[player]):
      name_dict[player] += 1
      player_year_dict[player].append(year)
      df.at[index, "Experience"] = name_dict[player]

    # Player has been on multiple teams. Don't increment their experience
    else:
      df.at[index, "Experience"] = name_dict[player]
  return df

## Filter Data
Filter the data to have somewhat current players and add the Experience column using the function from above

In [8]:
# Remove the empty rows that are used as space holders in between years
df_stats = df_stats[~df_stats["Player"].isnull()]

#Sort DF by the Player and then Year
df_stats = df_stats.sort_values(["Player", "Year"], ascending=[True, True])

# Add the Experience column to the current players DF
df_experience = years_played(df_stats)

# Re-sort the DF by Year and Player
df_experience = df_experience.sort_values(["Year", "Player"], ascending=[True, True])

# Subset DF to be of somewhat current players
df_experience = df_experience[df_experience["Year"] >= 1980]
df_experience.head()

      Unnamed: 0    Year           Player Pos  ...    TOV     PF     PTS  Experience
5881        5881  1980.0    Abdul Jeelani  SF  ...  117.0  155.0   737.0         1.0
5807        5807  1980.0  Adrian Dantley*  SF  ...  233.0  211.0  1903.0         4.0
6026        6026  1980.0       Al Skinner  SG  ...    2.0    1.0     2.0         4.0
5828        5828  1980.0    Alex English*  SF  ...  214.0  206.0  1318.0         4.0
5829        5829  1980.0    Alex English*  SF  ...  124.0  128.0   806.0         4.0

[5 rows x 54 columns]

In [6]:
# Subset DF to be of somewhat current players
df_current = df_stats[df_stats["Year"] >= 1980]


df_current = df_current[~df_current["Player"].isnull()]

#Sort DF by the Player and then Year
df_current = df_current.sort_values(["Player", "Year"], ascending=[True, True])

# Add the Experience column to the current players DF
df_experience = years_played(df_current)

# Re-sort the DF by Year and Player
df_experience = df_experience.sort_values(["Year", "Player"], ascending=[True, True])
df_experience.head()

      Unnamed: 0    Year           Player Pos  ...    TOV     PF     PTS  Experience
5881        5881  1980.0    Abdul Jeelani  SF  ...  117.0  155.0   737.0         1.0
5807        5807  1980.0  Adrian Dantley*  SF  ...  233.0  211.0  1903.0         1.0
6026        6026  1980.0       Al Skinner  SG  ...    2.0    1.0     2.0         1.0
5828        5828  1980.0    Alex English*  SF  ...  214.0  206.0  1318.0         1.0
5829        5829  1980.0    Alex English*  SF  ...  124.0  128.0   806.0         1.0

[5 rows x 54 columns]

## Web Scraping for Salaries
I want to analyze players salaries along with their significant statistics for a given season. So using BeautifulSoup, I webscraped each player salaries from their respective years from [hoopshype.com](https://hoopshype.com).

In [0]:
import requests
import time
from bs4 import BeautifulSoup

In [0]:
df_stats2010 = df_experience[df_experience["Year"] >= 2010]

In [0]:
"""
Function that creates a data frame of all salaries for every player in given 
year range

Args: start - start year of when to start the scrapping (int ie. 2013)
      end - end of year of when to stop scrapping (int ie. 2015)

Returns: DataFrame of all the salaries for each player in the given year range

NOTE: 2013 corresponds to 2012/2013 season
"""
def web_scrape_salaries(start, end):
  df_final = pd.DataFrame(columns=["Player", "Salary", "Year"])
  for season in range(start, end + 1):
    # Go to the website for the current season
    response = (requests.get("https://hoopshype.com/salaries/players/%d-%d/" % 
                             (season - 1, season))
    )
    
    soup = BeautifulSoup(response.content, "html.parser")
    tables = soup.find_all("table")
    table = tables[0]

    # Get the name and salary for each player
    rows_list = []
    for player in table.find_all("tr")[1:]:
      cells = player.find_all("td")
  
      row = {}
      name = cells[1].find("a").text.strip()
      name = name.replace("[^\w\s]", "")
      salary = int(cells[2].get("data-value"))
      row.update({"Player": name, "Salary": salary, "Year": float(season)})
      rows_list.append(row)

    # Create the data frame for the current season
    df = pd.DataFrame(rows_list, columns=["Player", "Salary", "Year"])

    # Concatenate the current data frame with the final data frame
    df_final = pd.concat([df_final, df], ignore_index=True)

  return df_final

In [0]:
# For machine learning model use from 2010-2017
df_web_salaries = web_scrape_salaries(2010, 2017)

In [13]:
df_sample = df_stats2010.merge(df_web_salaries, on=["Player", "Year"], how="inner")
df_sample.head()

   Unnamed: 0    Year        Player Pos  ...     PF     PTS  Experience   Salary
0       19996  2010.0  Aaron Brooks  PG  ...  199.0  1604.0         3.0  1118520
1       20120  2010.0    Aaron Gray   C  ...   54.0   104.0         3.0  1000497
2       20121  2010.0    Aaron Gray   C  ...   10.0    18.0         3.0  1000497
3       20122  2010.0    Aaron Gray   C  ...   44.0    86.0         3.0  1000497
4       20248  2010.0      Acie Law  PG  ...   16.0   113.0         3.0  2216160

[5 rows x 55 columns]

In [0]:
# Create per game statistics
stats = ["FGA", "TRB", "AST", "STL", "BLK", "AST", "TOV", "FGA", "FG", "3PA",
         "3P", "MP", "PTS"]

for stat in stats:
  df_sample["%s/G" % stat] = round(df_sample[stat] / df_sample["G"], 3)
df_sample["Salary"] = df_sample["Salary"].astype(int)

In [0]:
# Save the file to be used in other directories
df_sample.to_csv("df_sample.csv", encoding='utf-8', index=False)